$color-1: #ff5cc3;
$color-2: #ff5cc3;
$font-stack: 'Noto Sans Hebrew', 'Noto Sans Arabic', 'helvetica-neue-lt-pro', Helvetica, Arial, sans-serif;

$font-size-1: 11rem;
$line-height-1: 1.1;
$letter-spacing-1: -0.02em;

$font-size-2: 7rem;
$font-size-switcher: 4.5rem;
$line-height-2: 1.2;
$letter-spacing-2: -0.02em;
$font-weight-2: 400;
$large-type-line-height-en: 1;
$large-type-line-height-he: 1;
$large-type-line-height-ar: 1.2;
$small-type-line-height-en: 1.1;
$small-type-line-height-he: 1.1;
$small-type-line-height-ar: 1.2;
$small-type-descender-room: 0.08em;

$font-size-3: 13rem;
